name: Generate prebuilds

env:
  NODE_VERSION: "20"
  MODULE_NAME: "better-sqlite3"

on:
  workflow_dispatch:
    inputs:
      module_version:
        description: "Module version"
        required: true
        default: "11"
        type: string
      publish_release:
        description: "Publish release"
        required: false
        default: true
        type: boolean
      release_tag:
        description: "Release tag"
        required: false
        type: string

jobs:
  build:
    strategy:
      matrix:
        platform: [android]
        arch: [arm64, x64, arm]
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    name: better-sqlite3 (${{ matrix.platform }}-${{ matrix.arch }})
    outputs:
      module_version: ${{ steps.parse-module-version.outputs.version }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Download npm package and unpack
        run:
          npm pack ${{ env.MODULE_NAME }}@${{ inputs.module_version }} | xargs
          tar -zxvf

      - name: Parse module version
        id: parse-module-version
        working-directory: ./package
        run: echo version=$(jq -r .version package.json) >> $GITHUB_OUTPUT

      - run: npm install -g bare-make

      - name: Install deps for package
        working-directory: ./package
        run: npm install --ignore-scripts

      - name: Install cmake build tools
        working-directory: ./package
        run: npm install -D --ignore-scripts cmake-bare cmake-fetch

      - name: Install patched cmake-napi
        working-directory: ./package
        run:
          npm install -D --ignore-scripts
          cmake-napi@github:digidem/cmake-napi-nodejs-mobile

      - name: Copy CMakeLists.txt
        run: cp ./CMakeLists.txt ./package/

      - name: Generate
        working-directory: ./package
        run:
          bare-make generate --platform ${{ matrix.platform }} --arch
          ${{matrix.arch }}

      - name: Build
        working-directory: ./package
        run: bare-make build

      - name: Install
        working-directory: ./package
        run: bare-make install

      - name: Upload original prebuild artifacts # mostly for debugging purposes
        uses: actions/upload-artifact@v4
        with:
          name:
            ${{ env.MODULE_NAME }}-${{
            steps.parse-module-version.outputs.version }}-${{
            matrix.platform}}-${{ matrix.arch }}
          path:
            ./package/prebuilds/${{ matrix.platform }}-${{ matrix.arch }}/*.node

  release:
    if: ${{ inputs.publish_release }}
    needs: build
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: prebuilds

      - run: |
          mkdir -p artifacts
          for folder in prebuilds/*/; do
            folder_name=$(basename "$folder")
            tar -czvf "artifacts/${folder_name}.tar.gz" -C "prebuilds/${folder_name}" .
          done

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/*"
          artifactErrorsFailBuild: true
          allowUpdates: true
          replacesArtifacts: true
          tag: ${{ inputs.release_tag || needs.build.outputs.module_version }}
